/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v40-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --clr-black: #000;
  --clr-blue: #00bafc;
  --clr-white: #ffffff;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
/* header styles */
.site-header {
  width: 100%;
  -webkit-box-shadow: 0px 4px 20px 0px #0000001a;
  box-shadow: 0px 4px 20px 0px #0000001a;
  position: fixed;
  top: 0;
  background-color: rgb(255, 255, 255);
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo-link {
  display: inline-block;
}
.header__nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-link {
  display: inline-block;
  padding: 16px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--clr-black);
}
.nav-item {
  position: relative;
  overflow: hidden;
}
.nav-item::before {
  content: "";
  width: 50%;
  height: 3px;
  position: absolute;
  background-color: var(--clr-black);
  left: -100%;
  bottom: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav-item::after {
  content: "";
  width: 50%;
  height: 3px;
  position: absolute;
  background-color: var(--clr-black);
  right: -100%;
  bottom: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav-item:hover::before {
  left: 0;
}
.nav-item:hover::after {
  right: 0;
}
.nav-item:active {
  background: #19191982;
}
.nav-item:active::before,
.nav-item:active::after {
  width: 0;
  height: 0;
}
.nav-item:active > .nav-link {
  color: white;
}
.nav-phone-link {
  width: 159px;
  padding: 8px 0;
  text-align: center;
  background: var(--clr-blue);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 3px solid transparent;
}
.nav-phone-link:hover {
  background-color: transparent;
  color: var(--clr-blue);
  border: 3px solid var(--clr-blue);
}
.nav-phone-link:active {
  background-color: var(--clr-blue);
  color: white;
  border: 3px solid transparent;
  opacity: 0.6;
}
/* header styles end */
.site-main {
  margin-top: 56px;
}
/* hero section styles */
.hero-section {
  padding-top: 80px;
}
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.title-wrapper {
  width: 470px;
}
.hero__title {
  padding-bottom: 16px;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  color: #000000;
}
.text-wrapper {
  width: 465px;
}
.hero__text {
  padding-bottom: 16px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.hero__link {
  display: inline-block;
  width: 232px;
  padding: 8px 0;
  border-radius: 5px;
  background-color: var(--clr-blue);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.hero__link:hover {
  background-color: var(--clr-blue);
  opacity: 0.8;
}
.hero__link:active {
  background-color: var(--clr-blue);
  opacity: 0.6;
}
/* hero section styles end*/

/* service sections styles start  */
.service-section {
  padding: 56px 0;
}
.service__title-wrapper {
  width: 719px;
}
.service__title {
  margin-bottom: 16px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 70px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.service__item {
  width: 320px;
  padding: 24px 0;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--clr-white);
}

.service__item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 12px 21px 0px #0000001a;
  box-shadow: 0px 12px 21px 0px #0000001a;
}
.service__item:active {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px 0px #00000033;
  box-shadow: 0px 4px 4px 0px #00000033;
}
.secvice__subtitle {
  margin-bottom: 16px;
  text-align: center;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}
.service__text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.service__img {
  margin-bottom: 16px;
}
.service__subtitle {
  margin-bottom: 16px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}

.service__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
}
.service__link1 {
  width: 167px;
  padding: 8px 0;
  background-color: var(--clr-blue);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--clr-white);
}

.service__link2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--clr-blue);
  border-bottom: 1px solid var(--clr-blue);
  line-height: 13px;
}

/* service sections styles end */

/* Work section styles start */
.work-section {
  padding: 56px;
}
.work__texts-wrapper {
  width: 719px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.work__title {
  margin-bottom: 16px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
.work__text {
  margin-bottom: 24px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}
.work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 32px;
}
.work__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.work__item + .work__item {
  margin-top: 48px;
}
.service__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
}
.service__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.work__link {
  width: 167px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 8px 0;
  display: block;
  background-color: var(--clr-blue);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--clr-white);
}
/* Work section styles end */

/* contact section styles */
.contact-section {
  padding: 56px 0;
  background-color: var(--clr-blue);
}
.contact__texts-wrapper {
  width: 719px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
}
.contact__title {
  margin-bottom: 16px;
  color: var(--clr-white);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
.contact__text {
  margin-bottom: 24px;
  color: var(--clr-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.contact__form {
  width: 348px;
  margin: 0 auto;
  padding: 24px 0;
  background-color: var(--clr-white);
  border-radius: 5px;
  text-align: center;
}
.form__input--arrow {
  appearance: none;
  background-image: url(../images/select-arrow.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: calc(80% + 37px) center;
}

.contact__input {
  width: 300px;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #f3f3f3;
  border: none;
}
.contact__input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}
.contact__input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}
.contact__input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}
.contact__input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}
.contact__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}
.contact__select {
  width: 300px;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #f3f3f3;
  border: none;
}
.contact__select::-webkit-input-placeholder {
  width: 300px;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #f3f3f3;
  border: none;
}
.contact__select::-moz-placeholder {
  width: 300px;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #f3f3f3;
  border: none;
}
.contact__select:-ms-input-placeholder {
  width: 300px;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #f3f3f3;
  border: none;
}
.contact__select::-ms-input-placeholder {
  width: 300px;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #f3f3f3;
  border: none;
}
.contact__select::placeholder {
  width: 300px;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #f3f3f3;
  border: none;
}

.contact-link {
  display: block;
  width: 167px;
  padding: 8px 0;
  margin: 0 auto;
  text-align: center;
  border: none;
  background-color: #00bafc;

  border-radius: 5px;
  color: var(--clr-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
}
/* contact section styles end */

/* site footer */
.site-footer {
  padding: 56px 0;
  background-color: #191919;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__subtitle {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: var(--clr-white);
}
.footer__text-wrapper {
  width: 320px;
}
.footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--clr-white);
}
.footer-link {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--clr-white);
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-top: 8px;
  transition: all 0.3s linear;
}
.footer__text:hover {
  color: #00bafc;
}
/* site footer end */
